@model AdvancedAjax.Models.Country

@{
    ViewData["Title"] = "Country Details";
}

<h1>Country Details</h1>

<div>
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Code)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Code)</dd>
        
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Name)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>
        
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.CurrencyName)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.CurrencyName)</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div> 